@import "../../styles/color.scss";

.wrapper {
  padding: 1em;
  width: 100%;
}

.titleWarpper {
  border-radius: 5px;
  background-color: $color-white;
}

.postTitle {
  h1 {
    margin-right: 1em;
    font-size: 3em;
    font-weight: bold;
  }
}

.postDetailInfo {
  font-size: 0.8em;
}
.contentsWrapper {
  margin-top: 10px;
  border-top: 1px solid $color-green1;
  padding-top: 10px;
}

.contents {
  border-radius: 4px;
}
.profile {
  display: flex;
  padding: 50px 25px;

  align-items: center;
  border-bottom: 1px solid $color-green1;
  p {
    margin-left: 30px;
    font-weight: bold;
    &:first-child {
      font-size: 30px;
    }
  }
}

.profileImg {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: block;
  object-fit: cover;
  border: 3px solid $color-green5;
}
