@import "../../../styles/color.scss";

.searchWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 30px;

  border-bottom: 1px solid $color-green4;
  input {
    width: 90%;
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid $color-gray;
  }
  i {
    margin-left: 10px;
  }
}
