@import "../../styles/color.scss";

.wrapper {
  hr {
    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-gray;
  }
  padding-left: 1.5em;

  .menus {
    display: flex;

    .contents {
      flex: 1;
      padding-right: 1em;
      label {
        padding-left: 0.5em;
      }

      .loader {
        margin: 150px 0px;
      }

      ul {
        padding-left: 0.5em;
        display: flex;
        width: 940px;
        flex-flow: wrap;
        li {
          background-color: $color-white;
          border-radius: 3px;
          box-shadow: 1px 1px $color-gray;
          border: 1px solid $color-black;
          padding: 10px;
          padding-top: 240px;
          flex: 1;
          min-width: 300px;
          height: 300px;
          margin: 5px;
          &:hover {
            transition-duration: 0.15s;
            font-size: 1.05em;
            cursor: pointer;
            background-color: rgba($color-active, 0.5);
          }

          .postTitle {
            font-size: 1.3em;
            white-space: nowrap;
          }

          div {
            display: flex;
            justify-content: space-between;
            .postHits {
              text-align: right;
              font-size: 0.7em;
              width: 8vw;
              max-width: 40px;

              &::after {
                margin-left: 2px;
                content: "Hits";
              }
            }

            .postRegistDate {
              font-size: 0.8em;
            }
          }
        }
      }
      @media (max-width: 640px) {
        font-size: 0.75em;
      }
    }
  }
}
