@import "../../../styles/color.scss";

.wrapper {
}

.menu {
  display: flex;
  align-items: center;
  border: 1.5px solid $color-brown2;
  padding: 10px;
  height: 50px;
  border-radius: 3px;
  margin-bottom: 5px;

  .index {
    width: 2em;
    margin-right: 10px;
    text-align: center;
  }
  .name {
    flex: 1;
    margin-right: 2em;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid rgba($color-gray, 0.4);
    font-size: 1em;
  }

  .arrows {
    width: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      font-size: 26px;
      &:hover {
        color: $color-active;
        cursor: pointer;
      }
    }
  }
}

.addMenu {
  @extend .menu;
  justify-content: space-between;
  padding: 10px 20px;
  input {
    width: 24em;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid rgba($color-gray, 0.4);
    font-size: 1em;
  }
  button {
    border: 0px;
    font-size: 1em;
  }
}

.buttonWrapper {
  border-top: 1px solid rgba($color-gray, 0.2);
  border-bottom: 1px solid rgba($color-gray, 0.2);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  button {
    width: 15em;
  }
}
