@import "../../../styles/color.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .item {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 10px;
    color: $color-gray;
    .label {
      width: 100px;
      font-size: 16px;
    }
    .input {
      width: 280px;
      input[type="text"] {
        width: 100%;
      }

      textarea {
        width: 100%;
        resize: none;
        overflow-y: hidden;
      }
    }
  }
}

.favicon {
  @extend .input;
  display: flex;
  justify-content: space-between;

  input {
    border: 1px solid $color-green3;
  }
  button {
    height: 40px;
    width: 80px;
    border: 1px solid $color-green3;
    border-radius: 3px;
    padding: 0.25em 0.5em;
    font-size: 16px;
    margin: 0px;
  }
}

.preview {
  @extend .item;

  .label {
    padding-left: 16px;
    color: $color-gray;
  }
  .input {
    display: flex;
    justify-content: center;
  }
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 40px;
  border-top: 1px solid rgba($color-gray, 0.4);
  border-bottom: 1px solid rgba($color-gray, 0.4);
  .half {
    width: 50%;
  }
}
