@import "../../../styles/color.scss";
.wrapper {
  padding: 1em;

  .menu {
    ul {
      text-align: center;
      display: flex;
      li {
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 18px;
        background-color: $color-green1;
        border: 1px solid $color-green1;
        color: $color-black;
        cursor: pointer;
        margin-right: 8px;
      }

      .currentMenu {
        background-color: $color-green2;
        border-color: $color-green4;
        font-size: 19px;
        font-weight: bold;
      }
    }
  }

  .content {
    padding: 0.5em;
    flex: 1;
    background-color: $color-white;
    border-radius: 5px;
  }
}
