@import "../../../styles/color.scss";

.wrapper {
  padding: 0.5em;
}

.input {
  width: 100%;
  border: 2px solid $color-green4;
  margin-bottom: 5px;
  &:active,
  &:focus {
    outline: none;
    border: 2px solid $color-active;
  }
}

.dateWrapper {
  display: flex;
}

.date {
  width: fit-content;
  flex: 0 !important;

  input {
    height: 2em;
    font-size: 16px;
    text-align: center;
  }
}
.time {
  width: fit-content;
  select {
    width: fit-content;
    padding: 0px;
    border: 1px solid $color-green4;
    margin-left: 0.5em;
    height: 2em;
    font-size: 16px;
  }
}
.menu {
  @extend .time;
  margin-bottom: 10px;
  select {
    width: 20em;
    text-align: center;
    margin-left: 0px;
  }
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0;
  padding-top: 10px;

  button {
    flex: 1;
    margin: 0;
    font-size: 1.2em;

    &:first-child {
      margin-right: 5px;
    }
  }
}
