$color-red: #d23203;

.close {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
    font-size: 22px;
    border-radius: 2px;
    position: relative;
    left: 15px;
    bottom: 15px;

    &:hover {
      color: $color-red;
      cursor: pointer;
    }
  }
}
