$color-red: #d23203;

.errorLabel {
  font-size: 0.9em;
  color: $color-red;
  font-weight: 100;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  i {
    font-size: 1.5em;
    margin-right: 0.2em;
  }
}
