.slideIn {
  animation: slidein;
}

.slideUp {
  animation: slideUp;
}

@keyframes slidein {
  from {
    transform: translateX(10%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(10%);
  }

  to {
    transform: translateY(0%);
  }
}
