/* color */
$color-green1: #e6f0ef !global;
$color-green2: #dae9e7 !global;
$color-green3: #c5dcd5 !global;
$color-green4: #a9c5b9 !global;

$color-brown1: #b6abab !global;
$color-brown2: #dbd2d1 !global;

$color-red: #d23203 !global;
$color-gray: #4b4b4b !global;

$color-black: #000 !global;
$color-white: #fff !global;
$color-active: #f78c27 !global;
