/* font */
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Do+Hyeon&family=Noto+Sans+KR:wght@300&display=swap");
@import "./common.scss";
@import "./color.scss";
html,
body {
  margin: 0;
  font-family: "Bangers", cursive;
  font-family: "Do Hyeon", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  background-color: $color-white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes move {
  /* keyframe */
  from {
    margin-right: -1em;
  }
  /* keyframe */
  to {
    margin-right: 0px;
  }
}

.footer-wrap {
  text-align: center;
  border-top: 1px solid $color-black;
  padding: 16px;
  font-size: 0.8em;
  font-weight: 100;
}
