/* font */
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Do+Hyeon&display=swap");

/* color */
$color-green1: #e6f0ef;
$color-green2: #dae9e7;
$color-green3: #c5dcd5;
$color-green4: #a9c5b9;

$color-brown1: #b6abab;
$color-brown2: #dbd2d1;

$color-red: #d23203;
$color-gray: #4b4b4b;

$color-black: #000;
$color-white: #fff;
$color-active: #f78c27;

html,
body {
  margin: 0;
  font-family: "Do Hyeon", sans-serif;
  background-color: $color-green1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* base style*/

ul {
  list-style: none;
  padding-left: 0px;
}

button {
  border: 1px solid $color-gray;
  background-color: $color-white;
  padding: 0.5em 1em;
  margin: 0.2em;
  border-radius: 5px;
  font-size: 1.05em;
  color: $color-gray;
  font-family: "Do Hyeon", sans-serif;
  cursor: pointer;

  &:hover {
    background-color: $color-green2;
    color: $color-black;
  }

  &:disabled {
    pointer-events: none;
    background-color: $color-gray;
    color: $color-white;
    font-weight: normal;
  }
}

.btn-success {
  background-color: $color-green3;
  color: $color-black;
  font-size: 1.2em;

  &:hover {
    background-color: $color-active;
    color: $color-white;
  }
}

input[type="radio"] {
  $size: 0.9rem;
  appearance: none;
  width: $size;
  height: $size;
  border-radius: 100%;
  margin: $size * 0.2;
  background-color: $color-white;
  box-shadow: 0 0 0 1.5px $color-gray;

  -webkit-appearance: none;
  -moz-appearance: none;

  &:checked {
    background-color: $color-active;
    box-shadow: 0 0 0 1.5px $color-active;
    border: 0.2rem solid $color-white;
  }
}

input[type="checkbox"] {
  $size: 1rem;
  width: $size;
  height: $size;
  background-color: $color-white;
  box-shadow: 0 0 0 1px $color-gray;
  border-radius: 2px;
  margin: $size * 0.2;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:checked {
    box-shadow: 0 0 0 1px $color-active;
    background-color: $color-active;

    &::after {
      border-radius: 1px;
      $color: $color-white;
      content: "";
      position: relative;
      padding-top: $size * 0.4;
      left: $size * 0.25;
      top: -1px;
      width: $size * 0.3;
      height: $size * 0.3;
      border-bottom: $size * 0.15 solid $color;
      border-right: $size * 0.15 solid $color;
      transform: rotate(45deg);
      display: block;
    }
  }

  &:disabled {
    pointer-events: none;
    background-color: $color-gray;
    box-shadow: 0 0 0 1px $color-gray;
  }
}

select,
input[type="text"] {
  border: 1px solid $color-green3;
  border-radius: 3px;
  padding: 0.5em 1em;
  font-size: 18px;

  &:active,
  &:focus {
    outline: none;
    border: 1.5px solid $color-active;
  }
}
select {
  border: 1px solid $color-green3;
  border-radius: 3px;
  padding: 0.5em 1em;
  font-size: 18px;

  &::-webkit-scrollbar {
    display: none;
  }

  option {
    &:focus {
      background-color: $color-green4;
    }
  }
}

.display-none {
  display: none;
}

.require-label {
  $size: 8px;
  background-color: $color-white;
  border: $size/3 solid red;
  width: $size;
  height: $size;
  border-radius: 50%;
  display: inline-block;
  margin: $size/3 $size/2;
}

.error-text {
  font-size: 0.9em;
  color: $color-red;
  background-color: $color-white;
  font-weight: 100;
  width: fit-content;
  &::before {
    content: "* ";
    margin-left: 1em;
  }
  &::after {
    content: " *";
    margin-right: 1em;
  }
}
/* component */
.main-wrap {
  max-width: 720px;
  margin: 0 auto;
}
.entry-page-wrap {
  text-align: center;
  height: 70vh;
  div {
    margin-top: 2em;
  }

  ul {
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
    background-color: $color-white;
    border-radius: 5px;
    padding: 1vw;
    min-width: 300px;

    li {
      border: 1px solid $color-green4;
      margin: 1em 1em;
      padding: 1vw;
      font-size: 1.5em;
      border-radius: 5px;

      &:hover {
        background-color: $color-green4;
        color: $color-white;
      }
    }
  }
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100px;
  border-top: 5px solid $color-green4;
  border-bottom: 0.8em solid $color-brown2;

  @media (max-width: 640px) {
    border-top: 3px solid $color-green4;
  }

  .logo {
    width: fit-content;
    font-family: "Bangers", cursive;
    background-color: $color-green4;
    padding: 3px 7px;
    border-bottom: 1px solid $color-black;
    color: $color-gray;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 3px gray;

    &:hover {
      transition-duration: 0.2s;
      transform: scale(1.02);
    }

    i {
      font-size: 0.9em;
      margin-left: 5px;
    }

    @media (max-width: 640px) {
      font-size: 28px;
      min-width: 150px;
      line-height: 28px;
      box-shadow: 1px 1.5px gray;

      i {
        font-size: 20px;
      }
    }
  }

  .icons-wrap {
    display: flex;
    background-color: $color-white;
    border-radius: 15px;
    align-items: center;
    justify-content: space-around;
    padding: 0.55em 0.7em;

    .header-icon {
      width: fit-content;

      &:hover {
        transform: scale(1.05);
        transition-duration: 0.2s;
      }

      @media (max-width: 640px) {
        min-width: 15px;
      }
    }
  }
}

.nav-bar-wrap {
  background-color: $color-white;
  position: fixed;
  width: 250px;
  margin-right: calc(((100vw - 740px) / 2) - 250px);
  top: 0;
  right: 0;
  margin-top: calc(100px + 1em);

  ul {
    width: 100%;
    display: inline;
    white-space: nowrap;
    flex: 1;
    overflow: hidden;

    li {
      font-size: 16px;
      padding-left: 1em;
      color: $color-gray;
      height: 2em;
      line-height: 2em;
      text-align: center;
      border-radius: 5px;
      width: fit-content;

      &:hover {
        transition-duration: 0.2s;
        transform: scale(1.05);
        color: $color-brown1;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 1200px) {
    width: 180px;
    margin-right: calc(((100vw - 740px) / 2) - 180px);
  }

  @media (max-width: 1000px) {
    width: 120px;
    margin-right: 0px;
    ul {
      li {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 960px) {
    ul {
      display: none;
    }
  }
}

.blog-main-wrap {
  .thumbnail {
    height: 300px;
    background-color: $color-white;
    margin-top: 1em;
    @media (max-width: 640px) {
      height: 200px;
    }
  }
}

.category-wrap {
  hr {
    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-gray;
  }
  padding-left: 1.5em;

  .category-contents-wrap {
    display: flex;
    .category-contents {
      flex: 1;
      padding-right: 1em;
      label {
        padding-left: 0.5em;
      }

      ul {
        padding-left: 0.5em;

        li {
          background-color: $color-white;
          padding: 0.5em 0.7em;
          border-radius: 5px;
          box-shadow: 2px 2px gray;
          margin-bottom: 0.5em;

          &:hover {
            transition-duration: 0.2s;
            transform: scale(1.005, 1.05);
            border: 1px solid $color-active;
          }

          div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .post-no {
              font-size: 0.9em;
              margin-right: 3px;
              width: 8vw;
              max-width: 40px;
            }

            .post-title {
              font-size: 1.3em;
              flex: 1;
            }

            .post-hits {
              text-align: right;
              font-size: 0.7em;
              width: 8vw;
              max-width: 40px;

              &::after {
                margin-left: 2px;
                content: "Hits";
              }
            }
          }

          .post-registDate {
            font-size: 0.8em;
          }
        }
      }
      @media (max-width: 640px) {
        font-size: 0.75em;
      }
    }
  }
}

.modal-close {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  i {
    font-size: 22px;
    border-radius: 2px;
    position: relative;
    left: 15px;
    bottom: 15px;

    &:hover {
      color: $color-red;
      cursor: pointer;
    }
  }
}

.login-wrap {
  $size: 300px;

  input {
    display: block;
    margin-top: 5px;
    width: $size;
    height: 2em;
    padding-left: 1em;

    margin: 0.5em auto;
    border-radius: 5px;
    border: 1px solid $color-green4;

    &:focus {
      outline: 1.5px solid $color-active;
    }
  }
  button {
    margin: 0px auto;
    display: block;
    width: $size;
    height: 2em;
    padding: 0px;
    margin-top: 0.5em;
  }

  .error {
    color: $color-red;
    font-size: 1.25em;
  }

  .sns-google {
    background-color: #ea4335;
    color: $color-white;
  }
}

.logout-wrap {
  div {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
  }

  button {
    display: inline-block;
    width: 50%;
  }
}

.management-wrap {
  padding: 1em;
  display: flex;

  .management-menu {
    position: fixed;
    left: 0%;
    width: 8em;
    margin-left: calc(((100vw - 740px) / 2) - 6.5em);

    ul {
      text-align: center;

      li {
        border-radius: 5px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 0.5em;
        font-size: 20px;
        background-color: $color-green3;
        color: $color-black;
      }
    }
  }

  .management-content-wrap {
    flex: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;

    .management-content-title {
      min-height: 3em;
      border-bottom: 2px solid $color-gray;
      margin-bottom: 1em;
      padding-left: 0.5em;
      line-height: 2em;
    }

    .management-content {
      padding: 0.5em;
      flex: 1;
      background-color: $color-white;
      border-radius: 5px;

      .editor-wrap {
        padding: 0.5em;

        input[type="text"] {
          width: 100%;
          border: 2px solid $color-green4;
          margin-bottom: 5px;
          &:active,
          &:focus {
            outline: none;
            border: 2px solid $color-active;
          }
        }

        .editor-date-wrap {
          display: flex;
          .editor-date {
            width: 30%;
            input {
              height: 2em;
              font-size: 16px;
              text-align: center;
            }
          }
          .editor-time {
            width: 30%;
            select {
              padding: 0px;
              border: 2px solid $color-green4;
              margin-left: 0.5em;
              height: 2em;
              font-size: 16px;
            }
          }
        }
      }

      .ql-toolbar {
        padding: 0px;
        margin-bottom: 5px;
        border-radius: 3px;
        border: 1px solid $color-green4;
      }

      .ql-container {
        border-radius: 3px;
        border: 1px solid $color-green4;
        padding: 0.1em;
        height: fit-content;

        .ql-editor {
          height: fit-content;
          min-height: 30em;
          &:active,
          &:focus {
            outline: 2px solid $color-active;
            border-radius: 2px;
          }
        }
      }

      .button-wrap {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        padding-top: 10px;

        button {
          flex: 1;
          margin: 0;
          font-size: 1.2em;

          &:first-child {
            margin-right: 5px;
          }
        }

        .button-half {
          flex: none;
          width: 50%;
        }
      }

      .edit-category-wrap {
        .edit-category-item {
          border: 1.8px solid $color-green4;
          margin: 0.5em;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 1.2em;
          &:hover {
            color: $color-active;
          }
          .edit-category-no {
            width: 2em;
            text-align: center;
            border-right: 1px solid $color-black;
          }
          .edit-category-name {
            flex: 1;
            margin-left: 1em;
          }

          i {
            font-size: 0.9em;
            margin-left: 5px;
            display: block;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:hover {
              transform: scale(1.8);
              transition-duration: 0.15s;
            }
          }
        }
      }

      .edit-bloginfo {
        display: flex;
        flex-direction: column;
        align-items: center;

        .edit-bloginfo-item {
          width: 70%;
          display: flex;
          margin: 0.5em 1em;
          align-items: center;
          .title {
            width: 8em;
            font-size: 1.1em;
            text-align: right;
            margin-right: 2em;
          }

          .edit-bloginfo-favicon {
            width: 260px;
            display: flex;
            justify-content: space-between;
            height: 40px;

            label {
              border: 1px solid $color-green3;
              border-radius: 3px;
              padding: 0.5em 1em;
              font-size: 18px;
              flex: 1;
              margin-right: 0.5em;
            }
            button {
              width: 30%;
              height: 40px;
              border: 1px solid $color-green3;
              border-radius: 3px;
              padding: 0.5em 1em;
              font-size: 18px;
              margin: 0px;
            }
          }
        }

        .button-wrap {
          margin-top: 2em;
          margin-bottom: 1em;
        }
      }
    }
  }
}
